* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: TypoGraphica-Sharkshock;
  src: url(./typo/TypoGraphica.otf);
  font-family: Facile Sans Regular;
  src: url(./typo/facile-sans.regular.otf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: TypoGraphica-Sharkshock;
  src: url(./typo/TypoGraphica.otf);
  font-family: Facile Sans Regular;
  src: url(./typo/facile-sans.regular.otf); }

/* ------------Navbar-------------- */
.navbar {
  display: flex;
  background-color: black;
  height: 120px;
  border: 40px;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around; }

.logo a img {
  height: 150px;
  top: 50px; }

.navbar div a {
  text-decoration: none;
  color: white;
  font-family: TypoGraphica-Sharkshock; }

@media (max-width: 768px) {
  .navbar {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo" "inicio" "remeras" "buzos" "gorras";
    align-items: center;
    justify-items: center;
    align-content: center;
    height: auto;
    border: auto; }
  .logo {
    grid-area: logo; }
  .inicio {
    grid-area: inicio; }
  .remeras {
    grid-area: remeras; }
  .buzos {
    grid-area: buzos; }
  .gorras {
    grid-area: gorras; }
  .logo a img {
    height: 100px;
    top: 40px; } }

@media (max-width: 375px) {
  .logo a img {
    height: 100px;
    top: 40px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: TypoGraphica-Sharkshock;
  src: url(./typo/TypoGraphica.otf);
  font-family: Facile Sans Regular;
  src: url(./typo/facile-sans.regular.otf); }

.main_page {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  height: 500px; }

.main_page div {
  display: flex;
  position: absolute;
  top: 38%;
  left: 35%;
  border: 1px BLACK solid;
  flex-direction: column;
  align-items: center;
  background-color: #94c5cc;
  padding: 20px;
  font-family: TypoGraphica-Sharkshock;
  border-radius: 6px; }

.main_page div a button {
  background-color: #c88deb;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 6px;
  font-family: TypoGraphica-Sharkshock;
  border: 1px #a45acf solid; }

@media (max-width: 1024px) {
  .main_page {
    height: 400px; }
  .main_page div {
    top: 38%;
    left: 22%; } }

@media (max-width: 768px) {
  .main_page {
    height: 300px; }
  .main_page div {
    top: 55%;
    left: 12%; } }

@media (max-width: 525px) {
  .main_page {
    height: 210px; }
  .main_page div {
    top: 50%;
    left: 6%;
    padding: 10px; }
  .main_page div a button {
    font-size: 1em;
    padding: 7px;
    border-radius: 6px; } }

@media (max-width: 375px) {
  .main_page {
    margin-top: 20px;
    height: 140px; }
  .main_page div {
    top: 47%;
    left: 12%;
    padding: 10px; }
  .main_page div a button {
    font-size: 0.75em;
    padding: 7px;
    border-radius: 6px; } }

@media (max-width: 320px) {
  .main_page {
    height: 160px; }
  .main_page div {
    top: 45%;
    left: 8%;
    padding: 5px; }
  .main_page div a button {
    font-size: 0.75em;
    padding: 5px;
    border-radius: 6px; } }

.main_tarjetas {
  display: flex;
  background-color: #94c5cc;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 5px; }

.main_tarjetas p {
  font-family: Facile Sans Regular; }

.comentario {
  display: flex;
  justify-content: space-around;
  font-size: large;
  padding: 15px; }

.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tarjeta1 tarjeta2 tarjeta3";
  align-items: start;
  justify-items: center; }

.tarjeta1 {
  grid-area: tarjeta1;
  box-shadow: 1px 1px 1px 1px;
  height: 350px;
  width: 300px;
  text-align: center;
  border: 1px black solid; }

.tarjeta2 {
  grid-area: tarjeta2;
  box-shadow: 1px 1px 1px 1px;
  height: 350px;
  width: 300px;
  text-align: center;
  border: 1px black solid; }

.tarjeta3 {
  grid-area: tarjeta3;
  box-shadow: 1px 1px 1px 1px;
  height: 350px;
  width: 300px;
  text-align: center;
  border: 1px black solid; }

.tarjetas img {
  height: 350px;
  width: 300px;
  box-shadow: 1px 1px 1px 1px; }

.tarjetas button {
  background-color: #c88deb;
  color: black;
  padding: 8px;
  border-radius: 10px;
  margin: 3px; }

@media (max-width: 1024px) {
  .tarjetas {
    justify-items: start; }
  .tarjeta1 {
    height: 275px;
    width: 200px; }
  .tarjeta2 {
    height: 275px;
    width: 200px; }
  .tarjeta3 {
    height: 275px;
    width: 200px; }
  .tarjetas img {
    height: 275px;
    width: 200px; } }

@media (max-width: 768px) {
  .tarjeta1 {
    height: 250px;
    width: 200px; }
  .tarjeta2 {
    height: 250px;
    width: 200px; }
  .tarjeta3 {
    height: 250px;
    width: 200px; }
  .tarjetas img {
    height: 250px;
    width: 200px; } }

@media (max-width: 768px) {
  .tarjeta1 {
    height: 150px;
    width: 100px; }
  .tarjeta2 {
    height: 150px;
    width: 100px; }
  .tarjeta3 {
    height: 150px;
    width: 100px; }
  .tarjetas img {
    height: 150px;
    width: 100px; } }

.lista {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: " tj1 tj2 tj3 " " tj4 tj5 tj6 ";
  margin-top: 40px;
  justify-items: center;
  row-gap: 10px;
  align-items: end;
  justify-content: center; }

.tj1 {
  grid-area: tj1; }

.tj2 {
  grid-area: tj2; }

.tj3 {
  grid-area: tj3; }

.tj4 {
  grid-area: tj4; }

.tj5 {
  grid-area: tj5; }

.tj6 {
  grid-area: tj6; }

.h1_listas {
  text-align: center;
  margin: 45px;
  background-color: #94c5cc; }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (max-width: 768px) {
  .lista {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "tj1" "tj2" "tj3" "tj4" "tj5" "tj6"; } }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.ver_producto {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 70%;
  grid-template-areas: "ver1 ver2";
  align-items: center;
  justify-items: center;
  border: solid black 1px;
  justify-content: center;
  margin: 80px;
  align-content: space-evenly;
  background-color: #94c5cc; }

.ver1 {
  grid-area: ver1; }

.ver2 {
  grid-area: ver2; }

.ver1 img {
  grid-area: ver1;
  max-height: 500px;
  max-width: 500px; }

.ver2_info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "titulo"  "talle" "precio" "compra";
  justify-items: center;
  align-items: stretch; }

.titulo {
  grid-area: titulo; }

.talle {
  grid-area: talle; }

.precio {
  grid-area: precio; }

.compra {
  grid-area: compra; }

.talle button {
  background-color: #c88deb;
  border-radius: 5px; }

.compra button {
  background-color: #7ad67a;
  border-radius: 5px; }

@media (max-width: 1650px) {
  .ver_producto {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 40% 40%;
    grid-template-areas: "ver1"  "ver2"; }
  .ver1 img {
    grid-area: ver1;
    height: 300px;
    width: 300px;
    margin: 40px; } }

@media (max-width: 471px) {
  .ver_producto {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 40% 40%;
    grid-template-areas: "ver1"  "ver2"; }
  .ver1 img {
    grid-area: ver1;
    height: 150px;
    width: 150px;
    margin: 40px; } }

.proximamente {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  background-color: red;
  color: white; }
