.main_tarjetas{
    display: flex;
    background-color: #94c5cc;
    justify-content: space-evenly;
    padding:10px;
    margin-top: 5px;
    
}

.main_tarjetas p{
    font-family: Facile Sans Regular;
}

.comentario{
    display: flex;
    justify-content: space-around;
    font-size: large;
    padding: 15px;
}