* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: TypoGraphica - Sharkshock;
    src: url(./typo/TypoGraphica.otf);

    font-family: Facile Sans Regular;
    src: url(./typo/facile-sans.regular.otf);

}

